@import "tailwindcss";

html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body {
        background: #0a192f;
        color: #fff;
        overflow: -moz-scrollbars-none;
}

body::-webkit-scrollbar, html::-webkit-scrollbar {
    display: none;
}

@keyframes arrow-bounce {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

.animate-arrow-bounce {
    animation: arrow-bounce 1s infinite cubic-bezier(0.4, 0, 0.2, 1);
}

.skill {
    color: #58ffcf;
    padding: 0.25rem 0.75rem;
    background-color: #122b39;
    width: fit-content;
    border-radius: 99999px;
}